/**
* Current feels-like compnent styles
*/
.c-feels-like {
    // Temp
    --temp-0: var(--blue-2);
    --temp-1: var(--cyan-2);
    --temp-2: var(--green-2);
    --temp-3: var(--yellow-2);
    --temp-4: var(--orange-2);
    --temp-5: var(--red-2);
}
