/**
 * Details component top-level styles
*/

@import './_c_detiails_feels_like';
@import './_c_detiails_uv';
@import './_c_detiails_sun_moon';
@import './_c_detiails_visibility';

#details {
    @include code-font;

    .left-col {
        max-width: 70%;
        display: inline-block;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        margin: 0 0.15rem;

        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: left;
            margin: 0.2rem;
            padding: 0.5rem 0.8rem;
            border-radius: 2px;
            background-color: var(--bg-lt);
            box-shadow: var(--bg-dk) 1px 1px 2px;
            min-height: 1.8rem;
            flex: 1 0 auto;
        }
    }
}

@media screen and (max-width: 545px) {
    #details {
        font-size: 0.9rem;
        max-height: 40vh;
        overflow-x: scroll;
        ul {
            // display: block;
            li {
                padding: 0.4rem 0.8rem;
            }
        }
    }
}
