/**
 * Details component top-level styles
*/

@import '../utilities/_u_icons';
@import './_c_details-feels-like';
@import './_c_details-uv';
@import './_c_details-cloud-cover';
@import './_c_details-precipitation';
@import './_c_details-windspeed';
@import './_c_details-visibility';
@import './_c_details-sun-moon';

.c-details {
  @include code-font;

  .left-col {
    display: inline-block;
    max-width: 70%;
    padding-right: 0.3rem;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0.15rem;

    li {
      display: flex;
      flex: 1 0 auto;
      align-items: center;
      justify-content: space-between;
      min-height: 1.8rem;
      margin: 0.2rem;
      padding: 0.5rem 0.8rem;
      text-align: left;
      background-color: var(--bg-lt);
      border-radius: var(--bdradius-sm);
      box-shadow: var(--bg-dk) 1px 1px 2px;
    }
  }

  &.error,
  &.loading {
    .inline-icon {
      background-color: var(--bg-dk);
      border: 1px solid transparent;
    }
    .c-visibility .scale {
      opacity: 0.3;

      &::before,
      &::after {
        content: '';
      }
    }

    ul {
      li {
        // background-color: var(--grey-8);
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
          min-height: 3.8rem;
        }
      }
    }

    @media screen and (max-width: 545px) {
      .c-details ul {
        li:nth-child(1),
        li:nth-child(2),
        li:nth-child(3),
        li:nth-child(4) {
          min-height: auto;
        }
      }
    }
  }

  &.error .inline-icon {
    background-color: var(--bg-vdk);
  }

  &.error .loading-bg {
    background: var(--bg-vdk);
    animation: none;
  }

  @media screen and (max-width: 545px) {
    max-height: 40vh;
    overflow-x: scroll;
    font-size: var(--step--1);
    ul {
      // display: block;
      li {
        padding: 0.4rem 0.8rem;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root:not([data-user-color-scheme='dark']) {
    .loading .inline-icon {
      background-color: var(--bg-vdk);
    }
  }
}

// @media (prefers-color-scheme: dark) {
//     :root:not([data-user-color-scheme='dark']) {}
// }
