/**
* Current visibility component styles
*/
.c-details .c-visibility {
  --distance: 0%;
  --scale-bg: hsla(195, 100%, 69%, 0.509);

  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  justify-content: space-between;

  .visibility-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0.3rem 0 0.5rem 0;
    * {
      align-self: center;
    }

    .inline-icon {
      margin-top: -0.3em;
      border: none;
    }
  }
  .scale {
    position: relative;
    width: calc(100% + 1.6rem);
    height: 1.5rem;
    margin: 0 -0.5rem -0.5rem -0.5rem;
    overflow: hidden;
    font-size: 0.6em;
    background-color: var(--scale-bg);
    background-image: url(../svg/graph.svg);
    background-position: left -1px bottom -1px;
    border-top: 1px solid var(--bg-md);
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    transition: transform 0.5s ease;
    @media screen and (prefers-reduced-motion: reduce) {
      position: relative;
      width: calc(100% + 1.6rem);
      height: 1rem;
      // margin-bottom: -0.9em;
      margin: 0 -0.5rem -0.5rem -0.5rem;
      overflow: hidden;
      font-size: 0.6em;
      background-color: var(--scale-bg);
      background-image: url(../svg/graph.svg);
      background-position: left -1px bottom -1px;
      border-top: 1px solid var(--bg-md);
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 2px;
      transition: none;
    }
    &::before,
    &::after {
      position: absolute;
      top: 0.3rem;
      z-index: 1;
      box-sizing: content-box !important;
      color: var(--theme-black);
    }

    &::before {
      left: 0.6rem;
      content: '0 |';
    }
    &::after {
      right: 1rem;
      content: '| 5km/3.11mi';
    }
    .distance {
      position: absolute;
      z-index: 0;
      width: calc(100% - (10px + -0.6rem));
      height: 200%;
      padding-left: 10px;
      overflow: hidden;
      background: linear-gradient(
        to left,
        var(--theme-white) calc(var(--distance) - 20px),
        hsla(0, 0%, 100%, 0) calc(var(--distance) + 20px)
      );
      background-repeat: no-repeat;
      border-right: 80px solid var(--theme-white);
      animation: distance-loading 2s ease forwards;
      will-change: transform;
      @media screen and (prefers-reduced-motion: reduce) {
        position: absolute;
        z-index: 0;
        width: calc(100% - (10px + -0.6rem));
        height: 200%;
        padding-left: 10px;
        overflow: hidden;
        background: linear-gradient(
          to left,
          var(--theme-white) calc(var(--distance) - 20px),
          hsla(0, 0%, 100%, 0) calc(var(--distance) + 20px)
        );
        background-repeat: no-repeat;
        border-right: 80px solid var(--theme-white);
        animation: none;
        will-change: transform;
      }
    }
  }
}

@keyframes distance-loading {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(0%);
  }
}

@media screen and (max-width: 545px) {
  .c-details .c-visibility {
    .scale {
      height: 1rem;
      margin: 0 -0.5rem -0.4rem -0.5rem;
    }
  }
}

// @media (prefers-color-scheme: dark) {
//     :root:not([data-user-color-scheme='dark']) {
//     }
// }
