/**
* Forecast component styles
*/

.c-forecast {
  @include code-font;

  margin: 0.2rem 0.3rem;
  text-align: center;

  h4 {
    margin: 0.3rem;
    text-align: left;
  }
  h5 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  ul {
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

    li {
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      justify-content: space-around;
      width: 50%;
      min-width: 100px;
      min-height: 8rem;
      margin-right: 0.3rem;
      padding: 0.3rem;
      background-color: var(--bg-md);
      border-radius: var(--bdradius-sm);
      box-shadow: var(--bg-dk) 1px 1px 2px;
      scroll-snap-align: start end;

      &:first-child {
        border-bottom-left-radius: var(--bdradius-lg);
      }
      &:last-child {
        margin-right: 0.1rem;
        border-bottom-right-radius: var(--bdradius-lg);
      }
      &.error {
        width: 100%;
      }
    }

    .forecast-description {
      margin-top: 0;
      font-size: var(--step--1);
    }
    .weather-icon {
      width: 80%;
      height: auto;
    }
  }

  .error {
    // min-height: 11.2rem;
    color: var(--grey-solid-1);
    background-color: var(--bg-vdk);
  }

  &.loading {
    ul {
      overflow: hidden;
    }
    .weather-icon {
      width: 75%;
      background-color: var(--bg-md);
      border-radius: 3rem;
      filter: none !important;
      @media (prefers-color-scheme: dark) {
        background-color: var(--bg-vdk);
      }
    }
  }
}

@media screen and (max-width: 545px) {
  .c-forecast .weather-icon {
    width: 45%;
    height: auto;
  }
}

// @media (prefers-color-scheme: dark) {
//     :root:not([data-user-color-scheme='dark']) {}
// }
