/**
 * Page footer styles
*/

.c-site-footer {
  display: flex;
  justify-content: center;
  width: 100vw;
  padding: 0.5rem 0;
  color: var(--bg-lt);
  font-size: var(--step--1);
  text-align: center;
  background-color: var(--bg-vdk);

  .wrap {
    margin: 1rem 0;
  }
  a {
    color: currentColor;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root:not([data-user-color-scheme='light']) {
    .c-site-footer {
      color: var(--grey-3);
      background-color: var(--bg-dk);
    }
  }
}
