/**
 * Custom properties
*/

:root {
    // Text
    --text: #282a2d;

    // Backgrounds
    --bg-lt: #f0e9e7;
    --bg: #c7c0be;
    --bg-md: #d8d5d2;
    --bg-dk: #aba7a6;
    --bg-vdk: #686462;
    --bg-lite: var(--text);

    // Icons
    --icon-nutral: rgba(128, 128, 128, 0.125);
    --icon-dk: rgba(29, 27, 27, 0.564);

    // Sun
    --sunrise: rgba(227, 227, 32, 0.68);
    --sunset: rgba(233, 198, 110, 0.68);
    --yellow-lt: rgba(230, 230, 118, 0.858);

    // Temp
    --temp-0: rgba(21, 173, 223, 0.9);
    --temp-1: rgba(24, 201, 189, 0.851);
    --temp-2: rgba(15, 199, 89, 0.9);
    --temp-3: rgba(254, 254, 1, 0.721);
    --temp-4: rgba(252, 173, 2, 0.844);
    --temp-5: rgba(254, 77, 1, 0.9);

    // UV
    --uv-0: rgba(55, 255, 0, 0.5);
    --uv-1: rgba(157, 255, 0, 0.5);
    --uv-2: rgba(255, 234, 0, 0.5);
    --uv-3: rgba(255, 140, 0, 0.5);
    --uv-4: rgba(255, 89, 0, 0.5);
    --uv-5: rgba(255, 38, 0, 0.5);

    // Visibility Comp
    --distance: 0%;
    --scale-bg: rgba(98, 216, 255, 0.509);

    // Breakpoints
    --brkpt-sm: 545px;
    --brkpt-lg: 1500px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: #e5e9ee;
        --bg-lt: #747171;
        --bg: #282626;
        --bg-md: #494848;
        --bg-dk: #413f3f;
        --bg-vdk: #2e2e2e;
        --icon-nutral: hsla(0, 0%, 25%, 0.5);
        --icon-dk: hsla(0, 0%, 50%, 0.5);
    }
}
