/**
* General apearance of inital loading state across components
*/

.loading {
  cursor: progress;
}

.loading-bg {
  background: linear-gradient(
    89deg,
    var(--bg-lt),
    var(--bg-md),
    var(--bg-md),
    var(--bg-md)
  );
  background-size: 200% 100%;
  animation: loading 10s ease-in-out infinite;

  /* @media Rules */
  @media screen and (prefers-reduced-motion: reduce) {
    background: linear-gradient(
      89deg,
      var(--bg-lt),
      var(--bg-md),
      var(--bg-md),
      var(--bg-md)
    );
    background-size: 200% 100%;
    animation: none;
  }

  @media (prefers-color-scheme: dark) {
    // :root:not([data-user-color-scheme='dark']) {}
    background: linear-gradient(
      89deg,
      var(--bg-lt),
      var(--bg-md),
      var(--bg-md),
      var(--bg-md)
    );
    background-size: 200% 100%;
    animation: loading 10s ease-in-out infinite;
  }
}
