/**
* Screens component, including errors
*/

.c-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.2rem 0.3rem;
  padding: 2rem;
  text-align: left;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  word-break: break-all;
  overflow-wrap: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  background-color: var(--bg-lt);
  border-radius: var(--bdradius-lg);
  box-shadow: var(--bg-dk) 1px 1px 1px;

  h3 {
    display: inline-block;
    margin-bottom: 1rem;
    text-align: center;
  }

  .errors-wrap {
    padding: 1rem;
    overflow-y: scroll;
    background: var(--bg-vdk);
    border-radius: var(--bdradius-sm);
  }

  .screen-icon {
    max-width: 50%;
  }
}

@media (prefers-color-scheme: dark) {
  :root:not([data-user-color-scheme='dark']) {
    code {
      color: var(--theme-white);
    }
  }
}
@media screen and (max-width: 545px) {
  .errors-screen {
    padding: 1.5rem;
  }
}
