/**
* Screens component, including errors
*/

<<<<<<< HEAD
#app .screen {
=======
.c-screen {
>>>>>>> css-regression
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.2rem 0.3rem;
  padding: 2rem;
<<<<<<< HEAD

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  text-align: left;
  word-wrap: break-word;
  -ms-word-break: break-all; /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  word-break: break-word;
=======
  text-align: left;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  word-break: break-all;
>>>>>>> css-regression
  overflow-wrap: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  background-color: var(--bg-lt);
  border-radius: 10px;
  box-shadow: var(--bg-dk) 1px 1px 1px;

  h3 {
    display: inline-block;
    margin-bottom: 1rem;
    text-align: center;
  }

  .errors-wrap {
    padding: 1rem;
    overflow-y: scroll;
    background: var(--bg-vdk);
    border-radius: 3px;
  }

  .screen-icon {
    max-width: 50%;
  }
}

@media screen and (max-width: 545px) {
<<<<<<< HEAD
  #app.errors-screen {
=======
  .errors-screen {
>>>>>>> css-regression
    padding: 1.5rem;
  }
}
