/* Animations */
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* stylelint-disable */
@keyframes loading {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* stylelint-enable */

/* Delayed fade-in */

/*

h1 {
    @include fade-in('800ms', '300ms');
}
*/
@mixin fade-in($waitTime, $fadeTime) {
  animation: wait #{$waitTime}, fade-in #{$fadeTime} #{$waitTime};
}

@keyframes wait {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
