/**
 * Data Scales
*/

// Temp
[data-temp='0'] {
  background-color: var(--blue-2) !important;

  --icon-fill-color: var(--theme-white);
}
[data-temp='1'] {
  background-color: var(--cyan-2) !important;

  --icon-fill-color: var(--grey-8);
}
[data-temp='2'] {
  background-color: var(--green-2) !important;

  --icon-fill-color: var(--grey-8);
}
[data-temp='3'] {
  background-color: var(--yellow-2) !important;

  --icon-fill-color: var(--grey-8);
}
[data-temp='4'] {
  background-color: var(--orange-2) !important;

  --icon-fill-color: var(--grey-8);
}
[data-temp='5'] {
  background-color: var(--red-2) !important;

  --icon-fill-color: var(--theme-white);
}
