/**
* Base fonts
*/

// https://fonts.google.com/specimen/Turret+Road
// font-family: 'Turret Road', cursive;
@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@700&display=swap');

// https://css-tricks.com/snippets/css/system-font-stack/
@font-face {
    font-family: system;
    font-style: normal;
    font-weight: 300;
    src: local('.SFNSText-Light'), local('.HelveticaNeueDeskInterface-Light'),
        local('.LucidaGrandeUI'), local('Ubuntu Light'), local('Segoe UI Light'),
        local('Roboto-Light'), local('DroidSans'), local('Tahoma');
}

@mixin code-font {
    font-family: 'Ubuntu Mono', Consolas, Monaco, Lucida Console,
        Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono,
        'Courier New', monospace;
}
