/**
* Base fonts & typography
*/

// https://fonts.google.com/specimen/Turret+Road
// font-family: 'Turret Road', cursive;
@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@700&display=swap');

// https://css-tricks.com/snippets/css/system-font-stack/
@font-face {
    font-family: system;
    font-style: normal;
    font-weight: 300;
    src: local('.SFNSText-Light'), local('.HelveticaNeueDeskInterface-Light'),
        local('.LucidaGrandeUI'), local('Ubuntu Light'), local('Segoe UI Light'),
        local('Roboto-Light'), local('DroidSans'), local('Tahoma');
}

@mixin code-font {
    font-family: 'Ubuntu Mono', Consolas, Monaco, Lucida Console,
        Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono,
        'Courier New', monospace;
}

html {
    font-size: 100%; /* 16px */
}

body {
    font-family: system, sans-serif;
    font-weight: 400;
    line-height: 1.4;
    color: var(--text);
}

p {
    margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 3rem 0 1.38rem;
    font-family: 'Turret Road', system, sans-serif;
    font-weight: 800;
    line-height: 1.3;
}
h1 {
    margin-top: 0;
    margin-bottom: 0.1em;
    font-size: var(--step-4);
}

h2 {
    font-size: var(--step-3);
}

h3 {
    font-size: var(--step-2);
}

h4 {
    font-size: var(--step-1);
}

h5 {
    font-size: var(--step-0);
}

small,
.text_small {
    font-size: var(--step--1);
}

a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: underline;
}

ul.unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}

/**
* Fluid type utlis
*/
.ft-0 {
    font-size: var(--step-0);
}
.ft-1 {
    font-size: var(--step-1);
}
.ft-2 {
    font-size: var(--step-2);
}
.ft-3 {
    font-size: var(--step-3);
}
.ft-4 {
    font-size: var(--step-4);
}
.ft-5 {
    font-size: var(--step-5);
}
