/**
 * Global styles
 */

html,
body {
  height: 100%;
}

hr {
  display: block;
  max-width: 500px;
  height: 1px;
  margin: get-size(900) auto;
  background: var(--color-stroke);
  border: none;
}

img {
  height: auto;
}

:focus {
  outline: 2px solid transparent;
  box-shadow: 0 0 0 3px var(--blue-3), 0 0 0 2px var(--blue-2);
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: 80%;
  min-height: 100vh;
  margin: 0 auto;
  scroll-behavior: smooth;
}

main {
  flex: 1;
  min-width: 80%;
  max-width: 10rem;
  margin-bottom: 3rem;

  @media screen and (max-width: 545px) {
    width: 100%;
    max-width: inherit;
  }
}

@media screen and (max-width: 545px) {
  .site-footer {
    display: none;
  }
}

@media screen and (min-width: 1500px) {
  main {
    width: 50rem;
    min-width: 50rem;
    max-width: 50rem;
  }
}
