/**
 * Global styles
 */

html,
body {
    height: 100%;
}

hr {
    display: block;
    height: 1px;
    max-width: 500px;
    background: var(--color-stroke);
    border: none;
    margin: get-size(900) auto;
}

img {
    height: auto;
}

:focus {
    box-shadow: 0 0 0 3px var(--blue-3), 0 0 0 2px var(--blue-2);
    outline: 2px solid transparent;
}

body {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    min-height: 100vh;
    scroll-behavior: smooth;
}

main {
    min-width: 80%;
    max-width: 10rem;
    margin-bottom: 3rem;
    flex: 1;
}

@media screen and (max-width: 545px) {
    h1 {
    }
    main {
        width: 100%;
        max-width: inherit;
    }

    .site-footer {
        display: none;
    }
}

@media screen and (min-width: 1500px) {
    main {
        width: 50rem;
        min-width: 50rem;
        max-width: 50rem;
    }
}
